Данные: https://drive.google.com/drive/folders/1huVZQuu2wtQmp2luA7yni5ww8XDt_iFq?usp=sharing

# 1.

В файле содержится последовательность целых чисел. Элементы последовательности могут принимать целые значения от –10 000 до 10 000 включительно.

Найдите количество пар чисел с одинаковым знаком. Под парой понимается 2 подряд идущих числа.

In [ ]:
nums = []

with open('/content/17 (1).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[4525, 6347, 5361, 1163, -5880, 1178, 8121]

In [ ]:
# nums = [4525, 6347, 5361, 1163, -5880, 1178, 8121]

cnt = 0
for i in range(len(nums)-1):
    if nums[i] > 0 and nums[i+1] > 0:
        cnt += 1
    elif nums[i] <= 0 and nums[i+1] <= 0:
        cnt += 1

cnt
# 2495

2495

In [ ]:
nums = []

with open('/content/17 (7).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[4525, 6347, 5361, 1163, -5880, 1178, 8121]

In [ ]:
cnt = 0
max_sum = nums[0] + nums[1]
for i in range(len(nums)-1):
    if (nums[i] - nums[i+1])%37 == 0 and (nums[i] - nums[i+1])%2 == 0:
        cnt += 1
        if nums[i] + nums[i+1] > max_sum:
            max_sum = nums[i] + nums[i+1]

cnt, max_sum

(69, 17534)

# 2.

В файле содержится последовательность целых чисел. Элементы последовательности могут принимать целые значения от –10 000 до 10 000 включительно.

Найдите модуль разности между самым большим положительным числом и самым маленьким отрицательным числом.

In [ ]:
nums = []

with open('/content/17 (2).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[4525, 6347, 5361, 1163, 5880, 1178, 8121]

In [ ]:
pos = []
neg = []

for i in nums:
    if i < 0:
        neg.append(i)
    elif i > 0:
        pos.append(i)

abs(max(pos) - min(neg))
# 9997

9997

# 3.

В файле содержится последовательность натуральных чисел. Её элементы могут принимать целые значения от 1 до 100 000 включительно. Определите количество троек последовательности, в которых хотя бы один элемент кратен наименьшему числу последовательности, кратному 2025, а сумма тройки при этом — шестизначное число.

В ответе запишите количество найденных троек, затем максимальную из сумм элементов таких троек.

В этой задаче под тройкой подразумеваются три идущих подряд элемента последовательности.

In [ ]:
nums = []

with open('/content/17 (3).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[16200, 57198, 40092, 19550, 89100, 91525, 64800]

In [ ]:
# Определите количество троек последовательности,
# в которых хотя бы один элемент кратен
# наименьшему числу последовательности, кратному 2025,
# а сумма тройки при этом — шестизначное число.


# сначала найдем наименьшее число кратное 2025
min_2025 = max(nums)
for i in nums:
    if (i <= min_2025) and (i % 2025 == 0):
        min_2025 = i

print(min_2025)

10125

In [ ]:
cnt = 0
max_sum = 0
for i in range(len(nums)-2):
    # в которых хотя бы один элемент кратен min_2025
    if (nums[i] % min_2025 == 0) or (nums[i+1] % min_2025 == 0) or (nums[i+2] % min_2025 == 0):
        three_sum = nums[i] + nums[i+1] + nums[i+2]
        if len(str(three_sum)) == 6:
            cnt += 1
            if three_sum >= max_sum:
                max_sum = three_sum

# количество найденных троек, затем максимальную из сумм элементов таких троек
cnt, max_sum
# 963 282747

(963, 282747)

# 4.

В файле содержится последовательность целых чисел, каждое из которых по модулю не превышает 100 000. Определите количество троек элементов последовательности, в которых больше одного из трёх элементов оканчиваются на 3 или 5, а произведение элементов тройки не больше куба максимального четырёхзначного элемента последовательности.

Гарантируется, что в последовательности есть хотя бы одно четырёхзначное число. В ответе запишите количество найденных троек чисел, затем — максимальную из сумм элементов таких троек.

В данной задаче под тройкой подразумевается три идущих подряд элемента последовательности.

In [ ]:
nums = []

with open('/content/17 (4).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[16661, 21040, 40968, 40289, -75934, 88174, 82278]

In [ ]:
# сначала найдём куб максимального четырёхзначного элемента последовательности

max_4 = 0
for i in nums:
    if len(str(abs(i))) == 4 and i >= max_4:
        max_4 = i

max_4, max_4**3

(9982, 994609714168)

In [ ]:
str(8743)[-1]

'3'

In [ ]:
for i in range(len(nums)-2):
    if (str(nums[i])[-1] in ['3', '5']) or \
    (str(nums[i+1])[-1] in ['3', '5']) or \
    (str(nums[i+2])[-1] in ['3', '5']):
        print(nums[i], nums[i+1], nums[i+2])
        break

-88024 87114 87703

In [ ]:
tmp = 0
for i in range(len(nums)-2):
    if (str(nums[i])[-1] in ['3', '5']) or \
    (str(nums[i+1])[-1] in ['3', '5']) or \
    (str(nums[i+2])[-1] in ['3', '5']):
        tmp += 1

# всего таких троек
tmp

7369

In [ ]:
tmp = 0
for i in range(len(nums)-2):


    if cnt_endings > 1:
        tmp += 1
        # print(nums[i], nums[i+1], nums[i+2])

# всего таких троек в которых больше 1 элемента оканчиваются на 3 или 5
tmp

1577

In [ ]:
# больше одного из трёх элементов оканчиваются на 3 или 5, т.е. 2 или 3
# а произведение элементов тройки не больше max_4**3
max_sum_3 = 0
cnt = 0

for i in range(len(nums)-2):
    cnt_endings = 0
    if (str(nums[i])[-1] in ['3', '5']):
        cnt_endings += 1
    if (str(nums[i+1])[-1] in ['3', '5']):
        cnt_endings += 1
    if (str(nums[i+2])[-1] in ['3', '5']):
        cnt_endings += 1

    if cnt_endings > 1:
        prod_3 = nums[i]*nums[i+1]*nums[i+2]
        sum_3 = nums[i] + nums[i+1] + nums[i+2]
        if prod_3 < max_4**3:
            cnt += 1
            if sum_3 >= max_sum_3:
                max_sum_3 = sum_3

cnt, max_sum_3
# 825 175631

(825, 175631)

# 5.

В файле содержится последовательность целых чисел, каждое из которых находится в диапазоне от −20 000 до 20 000. Определите количество пар элементов последовательности, сумма которых превосходит каждую из сумм соседних пар, при этом все три суммы являются положительными.

В ответе запишите количество найденных пар чисел, затем минимальное из произведений элементов таких пар.

В данной задаче под парой подразумевается два идущих подряд элемента последовательности. Под соседними парами подразумеваются четыре идущих подряд элемента последовательности.

Например, в последовательности 1 2 3 4 5 6 у пары (3, 4) соседние пары (1, 2) и (5, 6).

In [ ]:
nums = []

with open('/content/17 (5).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[-9123, -643, -6547, 13408, 3305, 6616, -9548]

In [ ]:
from math import prod

nums = [-9123, -643, -6547, 13408, 3305, 6616, -9548]

i = 2
print(nums[i:7])
prod(nums[i:7])

[-6547, 13408, 3305, 6616, -9548]

18326760859545994240

In [ ]:
from math import prod

min_prod = nums[0]*nums[1]
cnt = 0

for i in range(len(nums)-5):
    sum_pair1 = nums[i] + nums[i+1]
    sum_pair2 = nums[i+2] + nums[i+3]
    sum_pair3 = nums[i+4] + nums[i+5]

    # все три суммы являются положительными
    if sum_pair1 > 0 and sum_pair2 > 0 and sum_pair3 > 0:
        # пар элементов последовательности, сумма которых
        # превосходит каждую из сумм соседних пар
        if sum_pair1 < sum_pair2 > sum_pair3:
            cnt += 1
            # минимальное из произведений элементов таких пар
            # prod_elems = nums[i] * nums[i+1] * nums[i+2] * nums[i+3] * nums[i+4] * nums[i+5]
            #    оказалось не так надо считать
            prod_elems = min(nums[i] * nums[i+1], nums[i+2] * nums[i+3], nums[i+4] * nums[i+5])
            if prod_elems < min_prod:
                min_prod = prod_elems

cnt, min_prod
# 610 -123157359

(610, -165142575)

# 6.

В файле содержится последовательность натуральных чисел. Элементы последовательности могут принимать целые значения от 1 до 10 000 включительно. Определите количество пар последовательности, в которых только одно число имеет отличное от 3 количество разрядов, а элементы пары отличаются на значение, кратное минимальному трёхзначному значению в последовательности, оканчивающемуся на 11.

В ответе запишите количество найденных пар, затем максимальную из сумм элементов таких пар. В данной задаче под парой подразумевается два идущих подряд элемента последовательности.

In [ ]:
nums = []

with open('/content/17 (6).txt') as f:
    for line in f:
        nums.append(int(line.strip()))
nums[:7]

[2626, 3324, 3300, 3565, 6175, 2836, 3308]

In [ ]:
'2836'[-2:]

'36'

In [ ]:
# сначала найдем это число
# минимальное трёхзначное значение в последовательности,
# оканчивающемуся на 11

all_poss = []

for i in nums:
    if len(str(i)) == 3 and str(i)[-2:] == '11':
        all_poss.append(i)

min_11 = min(all_poss)
all_poss[:4]

[211, 911, 811, 411]

In [ ]:
min_11

211

In [ ]:
# только одно число имеет отличное от 3 количество разрядов,
# а элементы пары отличаются на значение, кратное min_11

cnt = 0
sum_pairs = []

for i in range(len(nums)-1):
    if len(str(nums[i])) != 3 and len(str(nums[i+1])) == 3:
        if (nums[i] - nums[i+1])%min_11 == 0:
            cnt += 1
            sum_pairs.append(nums[i] + nums[i+1])
    elif len(str(nums[i])) == 3 and len(str(nums[i+1])) != 3:
        if (nums[i] - nums[i+1])%min_11 == 0:
            cnt += 1
            sum_pairs.append(nums[i] + nums[i+1])

# количество найденных пар, затем максимальную из сумм элементов таких пар
cnt, max(sum_pairs)
# 8 8089

(8, 8089)