https://drive.google.com/drive/folders/15H3k8p680eToSkxJGWwe1WPschKYH864?usp=sharing

# 1.

Откройте файл электронной таблицы, содержащей в каждой строке три натуральных числа.

Определите количество строк таблицы, в которых разность максимального и минимального чисел больше оставшегося числа.

In [ ]:
nums = []

with open('/content/9 (1).txt') as f:
    for line in f:
        nums.append(line.split())

nums[:7]

[['90', '71', '71'],
 ['89', '44', '51'],
 ['65', '27', '53'],
 ['68', '25', '94'],
 ['68', '61', '47'],
 ['44', '67', '60'],
 ['86', '37', '77']]

In [ ]:
nums = [list(map(int, i)) for i in nums]
nums[:7]

[[90, 71, 71],
 [89, 44, 51],
 [65, 27, 53],
 [68, 25, 94],
 [68, 61, 47],
 [44, 67, 60],
 [86, 37, 77]]

In [ ]:
numbers = [90, 71, 71]
max_value = max(numbers)
print(max_value)

90

In [ ]:
numbers = [90, 71, 71]
min_value = min(numbers)
print(min_value)

71

In [ ]:
cnt = 0

for i in nums:
    # разность максимального и минимального чисел больше оставшегося числа
    # i - это список из трех чисел
    max_num = max(i)
    min_num = min(i)
    other_num = sum(i) - max_num - min_num
    if max_num - min_num > other_num:
       cnt += 1

cnt
# 1422

1422

# 2.

Откройте файл электронной таблицы, содержащей в каждой строке три натуральных числа.

Определите количество строк таблицы, в которых медианное число чётное.

In [ ]:
nums = []

with open('/content/9 (1).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split())))

nums[:7]

[[90, 71, 71],
 [89, 44, 51],
 [65, 27, 53],
 [68, 25, 94],
 [68, 61, 47],
 [44, 67, 60],
 [86, 37, 77]]

In [ ]:
import statistics

statistics.median([1,2,3,4,5])

3

In [ ]:
cnt = 0

for i in nums:
    sorted_list = sorted(i)
    median_value = sorted_list[len(sorted_list) // 2]
    if median_value % 2 == 0:
        cnt += 1

cnt
# 1519

1519

# 3.

Откройте файл электронной таблицы, в каждой строке которой семь натуральных чисел. Определите количество строк таблицы с числами, для которых выполнены все условия:

- в строке не менее двух чётных и не менее двух нечётных чисел
- утроенная сумма нечётных чисел больше произведения чётных

В ответе запишите только число.

In [ ]:
import math
sum([1, 5, 6])

math.prod([1,5,3,6])

In [ ]:
nums = []

with open('/content/9 (3).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split())))

nums[:7]

[[44, 102, 89, 167, 135, 160, 80],
 [129, 107, 152, 93, 54, 72, 67],
 [80, 104, 37, 60, 35, 24, 86],
 [184, 162, 145, 71, 175, 192, 87],
 [107, 70, 91, 66, 36, 109, 132],
 [26, 32, 89, 112, 113, 17, 101],
 [63, 153, 127, 71, 34, 60, 87]]

In [ ]:
from math import prod

cnt = 0

for numbers in nums:
    # Разделяем на чётные и нечётные числа
    even_numbers = [num for num in numbers if num % 2 == 0]
    odd_numbers = [num for num in numbers if num % 2 != 0]
    # в строке не менее двух чётных и не менее двух нечётных чисел
    if len(even_numbers) >= 2 and len(odd_numbers) >= 2:
        # утроенная сумма нечётных чисел больше произведения чётных
        if (3 * sum(odd_numbers)) >= prod(even_numbers):
            cnt += 1

cnt
# 160

160

# 4.

Откройте файл электронной таблицы, содержащей в каждой строке семь натуральных чисел. Найдите наибольший номер строки таблицы, для чисел которой выполнены оба условия:

- в строке есть одно число, которое повторяется трижды, остальные числа различны;
- количество чётных чисел превышает количество нечётных.

В ответе запишите только число.

In [ ]:
nums = []

with open('/content/9 (4).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split())))

nums[:7]

[[12, 102, 26, 102, 21, 12, 73],
 [15, 66, 47, 86, 29, 85, 83],
 [97, 12, 86, 57, 93, 64, 41],
 [25, 57, 58, 85, 47, 70, 72],
 [45, 34, 56, 39, 62, 19, 55],
 [36, 94, 45, 85, 94, 89, 88],
 [23, 93, 34, 90, 88, 28, 21]]

In [ ]:
len(nums)

16000

In [ ]:
numbers = [12, 102, 12, 102, 21, 12, 73]
unique_numbers = list(set(numbers))
print(unique_numbers)
counts = [numbers.count(num) for num in unique_numbers]
# в строке есть одно число, которое повторяется трижды, остальные числа различны;
counts

[73, 12, 21, 102]

[1, 3, 1, 2]

In [ ]:
sum(counts)

1

In [ ]:
len(nums)

16000

In [ ]:
idx = 0

for i in range(len(nums)):
    # в строке есть одно число, которое повторяется трижды,
    # остальные числа различны
    unique_numbers = set(nums[i])
    counts = [nums[i].count(num)==3 for num in unique_numbers]
    if sum(counts) == 1:
        # # количество чётных чисел превышает количество нечётных
        even_numbers = [num for num in nums[i] if num % 2 == 0]
        odd_numbers = [num for num in nums[i] if num % 2 != 0]
        if len(even_numbers) >= len(odd_numbers):
            idx = i

idx+1
# 15293

NameError: name 'nums' is not defined

# 5.

Откройте файл электронной таблицы, содержащей в каждой строке восемь натуральных чисел. Определите номер третьей сверху строки таблицы, для чисел которой выполнены два условия:

- в строке есть только одно число, которое повторяется ровно дважды, и только одно число, которое повторяется ровно трижды, остальные числа различны
- число, повторяющееся трижды, больше числа, повторяющегося дважды

В ответе запишите только номер строки.

In [ ]:
nums = []

with open('/content/9 (5).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split())))

nums[:7]

[[41, 42, 89, 11, 61, 24, 92, 51],
 [78, 36, 87, 17, 77, 11, 84, 71],
 [44, 67, 44, 21, 44, 94, 59, 90],
 [95, 81, 63, 17, 16, 55, 66, 56],
 [14, 24, 23, 34, 40, 45, 71, 50],
 [46, 50, 60, 19, 11, 70, 42, 59],
 [31, 80, 92, 33, 14, 16, 91, 75]]

In [ ]:
numbers = [44, 67, 44, 21, 44, 94, 59, 94]

unique_numbers = set(numbers)
count_3 = [num for num in unique_numbers if numbers.count(num) == 3]
count_2 = [num for num in unique_numbers if numbers.count(num) == 2]

count_2, count_3

([94], [44])

In [ ]:
count_2.values()

dict_values([False, False, False, False, True])

In [ ]:
for i in range(len(nums)):
    # в строке есть только одно число, которое повторяется ровно дважды,
    # и только одно число, которое повторяется ровно трижды,
    # остальные числа различны
    unique_numbers = set(nums[i])
    count_3 = [num for num in unique_numbers if nums[i].count(num) == 3]
    count_2 = [num for num in unique_numbers if nums[i].count(num) == 2]

    if len(count_3) == 1 and len(count_2) == 1:
        # число, повторяющееся трижды, больше числа, повторяющегося дважды
        even_numbers = [num for num in nums[i] if num % 2 == 0]
        odd_numbers = [num for num in nums[i] if num % 2 != 0]
        if len(even_numbers) >= len(odd_numbers):
            # номер третьей сверху строки таблицы,
            # для чисел которой выполнены два условия
            print(i+1)

# 3319 - 3319

782
881
3319
7049
7868
8984
9436
10613
10796
12698
13805

# 6.

Откройте файл электронной таблицы, содержащей в каждой строке шесть натуральных чисел. Определите количество строк таблицы, для которых выполняются все условия:

- в строке три числа повторяются ровно два раза;
- эти три числа образуют стороны прямоугольного треугольника.

В ответе запишите одно число.

In [ ]:
nums = []

with open('/content/9 (6).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split(','))))

nums[:7]

[[63, 46, 83, 41, 60, 50],
 [39, 41, 33, 33, 72, 86],
 [87, 60, 63, 60, 63, 87],
 [63, 65, 65, 16, 16, 63],
 [12, 12, 20, 16, 16, 20],
 [13, 39, 81, 73, 12, 49],
 [26, 26, 10, 24, 24, 10]]

In [ ]:
cnt = 0

for i in range(len(nums)):
    # в строке три числа повторяются ровно два раза
    unique_numbers = set(nums[i])
    count_2 = [num for num in unique_numbers if nums[i].count(num) == 2]

    # убедимся что таких числа три
    if len(count_2) == 3:
        # эти три числа образуют стороны прямоугольного треугольника
        a, b, c = sorted(count_2)  # Сортируем, чтобы c было гипотенузой

        if a**2 + b**2 == c**2:
            cnt += 1

cnt
# 148

148

In [ ]:
nums = []

with open('/content/9 (6).txt') as f:
    for line in f:
        nums.append(list(map(int, line.split())))

# Определите количество строк таблицы с числами,
# для которых работают не менее двух из трёх условий:

# в строке одно число повторяется трижды, остальные различны
# чётных чисел больше, чем нечётных
# сумма двух наибольших значений больше,
# чем в два раза превышает сумму остальных значений

In [ ]:
l = [1,4,3,6]

# l = sorted(l) - глобальный метод , не изменяет
l.reverse() - метод класса list, изменяет исходные объект
l.sort() - метод класса list, изменяет исходные объект

l

[6, 3, 4, 1]