# 1.

На вход алгоритма подается натуральное число $N$. Алгоритм строит по нему новое число $R$ следующим образом.

- Строится троичная запись числа $N$.
- Все цифры в записи сортируются по убыванию
- Максимальная цифра числа записывается в конец записи
- Полученная таким образом запись является троичной записью искомого числа $R$.

Пример:

$123 → 11120_3 → 21110_3 → 211102_3 → 605$

Укажите какое наибольшее число $R$, меньшее $1200$ может быть получено в результате работы алгоритма. В ответе укажите число $R$ в десятичной системе счисления.

In [ ]:
print(bin(123)[2:]) # двоичная запись
print(oct(123)[2:]) # восьмиричная
print(hex(123)[2:]) # шестнадцатеричная

1111011
173
7b

In [ ]:
def convert_to(number, base, upper=False):
    digits = '0123456789abcdefghijklmnopqrstuvwxyz'
    if base > len(digits): return None
    result = ''
    while number > 0:
        result = digits[number % base] + result
        number //= base
    return result.upper() if upper else result

In [ ]:
N = 1
max_r = 0
for N in range(10000, 1, -1):
    # Строится троичная запись числа N
    R = convert_to(N, 3)

    # Все цифры в записи сортируются по убыванию
    R = list(map(int, list(R)))
    R = sorted(R, reverse=True)

    # Максимальная цифра числа записывается в конец записи
    R.append(max(R))

    R = list(map(str, R))
    # Полученная таким образом запись является троичной записью искомого числа R
    # print(R)

    # Переводим в десятичную
    R = int(''.join(R), 3)
    if R < 1200:
        max_r = max(max_r, R)

max_r

1093

# 2.

На вход алгоритма подаётся натуральное число $N$. Алгоритм строит по нему новое число $R$ следующим образом.

- Строится запись числа $N$ в системе счисления с основанием $12$.
- Далее эта запись обрабатывается по следующему правилу:
    - если число $N$ делится на 4, то слева к нему приписывается «2», а справа «64»;
    - если число $N$ на 4 не делится, то в конец числа дописывается его максимальная цифра в системе счисления с основанием 12.

- Полученная таким образом запись является двенадцатеричной записью искомого числа R.
- Результат переводится в десятичную систему и выводится на экран.

Например, для исходного числа $11 = B_{12}$ результатом является число $BB_{12} = 143$, а для исходного числа
$12=10_{12}$ это число $21064_{12}=43276$.

Укажите минимальное число $R$, большее $1799$, которое может быть получено с помощью описанного алгоритма. В ответе запишите это число в десятичной системе счисления.

In [ ]:
def convert_to(number, base, upper=True):
    digits = '0123456789abcdefghijklmnopqrstuvwxyz'
    if base > len(digits): return None
    result = ''
    while number > 0:
        result = digits[number % base] + result
        number //= base
    return result.upper() if upper else result

In [ ]:
N = 12

R = convert_to(N, 12)

# если число  N  делится на 4, то слева к нему приписывается «2», а справа «64»
if N % 4 == 0:
    R = '2' + R + '64'
else:
    # если число  N  на 4 не делится,
    # то в конец числа дописывается его максимальная цифра в с.с. с основанием 12
    R = R + max(R)

int(R, 12)

43276

In [ ]:
# Укажите минимальное число  R , большее  1799
min_r = 10000000
for N in range(1, 1000):
    R = convert_to(N, 12)

    # если число  N  делится на 4, то слева к нему приписывается «2», а справа «64»
    if N % 4 == 0:
        R = '2' + R + '64'
    else:
        # если число  N  на 4 не делится,
        # то в конец числа дописывается его максимальная цифра в с.с. с основанием 12
        R = R + max(R)

    R = int(R, 12)

    # Укажите минимальное число  R , большее  1799
    if R > 1799:
        min_r = min(R, min_r)

min_r
# 1806

1806

# 3.

На вход алгоритма подаётся натуральное число $N$. Алгоритм строит по нему новое число $R$ следующим образом.

- Строится троичная запись числа $N$.
- Далее эта запись обрабатывается по следующему правилу:
    - если число N делится на 3, то слева к нему приписывается «1», а справа «02»;
    - если число N на 3 не делится, то остаток от деления на 3 умножается на 4, переводится в троичную запись и дописывается в конец числа.
- Полученная таким образом запись является троичной записью искомого числа R.
- Результат переводится в десятичную систему и выводится на экран.

Например, для исходного числа $11=102_3$ результатом является число $10222_3=107$, а для исходного числа
$12=110_3$ это число $111002_3=353$.

Укажите максимальное число $N$, после обработки которого с помощью этого алгоритма получается число $R$, меньшее 199.

In [ ]:
def convert_to(number, base):
    digits = '0123456789abcdefghijklmnopqrstuvwxyz'
    result = ''
    while number > 0:
        result = digits[number % base] + result
        number //= base
    return result.upper()

In [ ]:
N = 12

max_n = 1
for N in range(1000, 1, -1):
    R = convert_to(N, 3)

    # если число N делится на 3, то слева к нему приписывается «1», а справа «02»
    if N % 3 == 0:
        R = '1' + R + '02'
    else:
        # если число N на 3 не делится,
        # то остаток от деления на 3 умножается на 4,
        # переводится в троичную запись и дописывается в конец числа
        R = R + convert_to(N % 3 * 4, 3)

    R = int(R, 3)

    # Укажите максимальное число  N
    # после обработки которого с помощью этого алгоритма получается число  R , меньшее 199
    if R < 199:
        max_n = max(N, max_n)
# 20
max_n

20

# 4.

На вход алгоритма подаётся число $N$. Алгоритм строит по нему новое число $R$ следующим образом:

- Строится восьмеричная запись числа $N$.
- Далее эта запись обрабатывается по следующему правилу:
    - если число N нечётное, то к этой записи справа дописываются два нуля 00;
    - если число N чётное, то к записи справа дописывается 10
- Затем число $R$ переводится в десятичную систему счисления.

Укажите количество трёхзначных десятичных чисел, которые можно получить по этому алгоритму.

In [ ]:
N = 10
cnt = 0
for N in range(1, 10000):
    R = oct(N)[2:]

    if N % 2 != 0:
        R = R + '00'
    else:
        R = R + '10'

    R = int(R, 8)
    # print(R)

    if len(str(R)) == 3:
        cnt += 1
    elif len(str(R)) > 3:
        break

cnt

14

# 5.

Существуют числа, обладающие свойствами:

- Число делится на все свои цифры;
- Число, полученное из данного числа записью цифр в обратном порядке, тоже делится на все свои цифры.

Примером такого числа является 216. Сколько существует трёхзначных чисел, без нулей в записи, обладающих этими свойствами?